@charset "utf-8";

html,body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: #fff;
        font: .74em "Trebuchet MS" Verdana, Arial, sans-serif;
        line-height: 1.5em;
}
a {
        color: #3B6EBF;
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}


#wrap {
margin: 20px auto;
width: 950px;
}

#top {
}

#content {
	overflow: hidden;
	heihgt: auto;
}

#bottom {
}


.header {
height: 100px;
background: #85ACF7 url('images/hidr.jpg');
}

.header h1 { padding-left: 17px; padding-top: 22px; font-size: 22px; color: #FFF; padding-bottom: 3px; }
.header h1 a { font-size: 22px; color: #FFF; text-decoration: none;}
.header h2 { padding-left: 17px; padding-top: 0px; font-size: 17px; color: #FFF; padding-bottom: 2px; }

.breadcrumbs {
    background: #FFFFFF;
    border:1px solid #E1E1E1;
        padding: 5px;
}

.langsel {
        display: inline;
        float: right;
}

.middle {
        float: left;
        width: 73%;
        margin: 10px 0;
        padding: 1% 1%;
        text-align: justify;
        border:1px solid #E1E1E1;
	min-height: 100%;
        background: #FFFFFF;
	overflow: hidden;
	height: auto;
padding-bottom: 32767px; 
margin-bottom: -32767px;  
}

.middleonly{
        padding: 1% 1%;
        text-align: justify;
        border:1px solid #E1E1E1;
        min-height: 100%;
        background: #FFFFFF;
        overflow: hidden;
        height: auto;
padding-bottom: 32767px;
margin-bottom: -32767px;
}

.right {
        float: left;
        width: 21%;
        margin: 10px 0 0 15px;
        padding: 1% 1%;
        border:1px solid #E1E1E1;
        background: #FFFFFF;

}

.right ul {
        padding: 20px 0 15px 20px;
        margin:0;
}

.right li {
        margin-bottom:5px;
        list-style-type: square;
        color: #3B6EBF;
}

.middle h1 { color: #3B6EBF; font-size: 16px; margin-bottom: 10px; margin-top: 10px;}
.middle h2 { color: #3B6EBF; font-size: 16px; margin-bottom: 10px; margin-top: 10px;}
.middle h3 { color: #3B6EBF; font-size: 14px; margin-bottom: 9px; margin-top: 9px;}
.right h2 { color: #3B6EBF; font-size: 14px; margin-top: 15px;}

.middle ul { margin: 5px 5px 5px 16px; }
.middle blockquote {
  background-color : #eef;
  padding: 5px;
  margin: 12px 25px 12px 12px;
  border-color: #669;
  border-width: 1px;
  border-style: solid;
  color: #005;
  font-family: monospace;
  font-size: 11px;
}

.ex{
  background-color : #eef;
  padding: 5px;
  margin: 12px 25px 12px 12px;
  border-color: #669;
  border-width: 1px;
  border-style: solid;
  color: #005;
  font-family: monospace;
  font-size: 13px;
}

#clear {
        display: block;
        clear: both;
        width: 100%;
        height:1px;
        overflow:hidden;
}

#footer {
        text-align: center;
        color: #666;
}
table {
    margin: 15px auto 20px auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
table th {
    padding: 6px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #333;
    background-color: #f0f0f0;
    font-weight: normal;
}
table td {
    padding: 4px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
}

table td.nowrap {
    white-space: nowrap;
}

/* 見出し
----------------------------------------------- */
div#undercolumn_shopping table th[scope=col] {
    text-align: center;
}
div#undercolumn_shopping table.delivname th {
    width: 155px;
}

/* MYページ */
div#mycontents_area table th {
    text-align: left;
}
div#mycontents_area table th.alignR {
    text-align: right;
}
div#mycontents_area table th.alignL {
    text-align: left;
}
div#mycontents_area table th.alignC {
    text-align: center;
}
div#mycontents_area table th.resulttd {
    text-align: right;
}
div#mycontents_area table caption {
    padding: 8px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    color: #000;
    background-color: #f0f0f0;
    text-align: left;
    font-weight: bold;
}


/* その他
----------------------------------------------- */
table select {
    margin-bottom: 7px;
    border: solid 1px #ccc;
}

/************************************************
 共通設定
************************************************ */
body {
    color: #666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    background-color: #f5f5f5;
    font-size: 72.5%;
    line-height: 150%;
    letter-spacing: 0.1em;
}

select {
    border: solid 1px #ccc;
}

/*写真*/
.picture {
    border: 1px solid #ccc;
}

dt {
   font-size: 120%;
   font-weight: bolder;
}

dd {
    margin-bottom: 40px;
}

/* ==============================================
 フレーム
=============================================== */
/* 全体を包括 */
.frame_outer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#container {
    margin: 0 auto;
    padding: 0 0 30px 0;
    width: 980px;
    background: #fff;
    text-align: left;
}

#bottomcolumn,
#footerbottomcolumn {
    margin: 0 auto;
    padding: 15px;
    width: 950px;
    background: #fff;
    text-align: left;
}

.main_column {
    padding: 10px 0 20px;
}

#leftcolumn {
    float: left;
    width: 20%;
}
#rightcolumn {
    float: right;
    width: 20%;
}

#one_maincolumn {
    margin: 0 auto;
    width: 80%;
}

#two_maincolumn_left {
    padding-left: 1.5%;
    float: left;
    width: 78%;
}

#three_maincolumn {
    padding-left: 0.5%;
    width: 59%;
    float: left;
}

.clearfix:after {
    display: block;
    clear: both;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
    content: ".";
}
.clearfix {
    display: block; /* for IE8 */
}
.clear {
    clear: both;
}

a:link,
a:visited {
    color: #39c;
    text-decoration: none;
}
a:link:hover,
a[href]:hover {
    color: #f60;
    text-decoration: underline;
}


h1,
h2,
h3,
h4,
h5 {
    font-size: 100%;
    line-height: 150%;
}
.sale_price {
    color: #f00;
}
.normal_price {
    font-size: 90%;
}
.point {
    color: #f00;
    font-weight: bold;
}
.user_name {
    font-weight: bold;
}
.recommend_level {
    color: #ecbd00;
}

.attention {
    color: #f00;
}
.attentionSt {
    color: #f00;
    font-weight: bold;
}
.st {
    font-weight: bold;
}
.mini {
    font-size: 90%;
}


.alignC {
    text-align: center;
}
.alignR {
    text-align: right;
}
.alignL {
    text-align: left;
}
.pricetd em {
    font-weight: bold;
}


input[type='text'],
input[type='password'],
.select {
    border: solid 1px #ccc;
    padding: 2px;
}

.box40 {
    width: 40px;
}
.box60 {
    width: 60px;
}
.box100 {
    width: 100px;
}
.box120 {
    width: 120px;
}
.box140 {
    width: 140px;
}
.box145 {
    width: 145px;
}
.box150 {
    width: 150px;
}
.box240 {
    width: 240px;
}
.box300 {
    width: 300px;
}
.box320 {
    width: 320px;
}
.box350 {
    width: 350px;
}
.box380 {
    width: 380px;
}

    margin-bottom: 5px;
}

.ng_top {
    margin-bottom: 0 !important;
}


h2.title {
    margin-bottom: 10px;
    padding: 8px;
    border-top: solid 1px #ebeced;
    color: #f60;
    background: url("../img/background/bg_tit_sub_01.jpg") repeat-x left bottom;
    background-color: #fef3d8;
    font-size: 170%;
}

#one_maincolumn .sub_area h3,
#two_maincolumn_right .sub_area h3,
#two_maincolumn_left .sub_area h3,
#three_maincolumn .sub_area h3,
#undercolumn_login .login_area h3,
#undercolumn_shopping h3,
#mypagecolumn h3,
#undercolumn_cart h3 {
    margin: 0 0 10px 0;
    padding: 5px 0 10px;
    color: #f60;
    background: url("../img/background/line_01.gif") repeat-x left bottom;
    font-size: 120%;
}

div#undercolumn_login .login_area h4 {
    padding-left: 15px;
    background: url("../img/icon/ico_arrow_05.gif") no-repeat left;
}


#header_wrap {
    border-top: solid 3px #f90;
    min-height: 82px;
    background: url("../img/common/bg_header.gif") repeat-x bottom #fffaf0;
}
#header {
    margin: auto;
    width: 980px;
}
#logo_area {
    padding-left: 10px;
    float: left;
    width: 390px;
    text-align: left;
}
#header_utility {
    float: right;
    width: 580px;
}

#errorHeader {
    color: #F00;
    font-weight: bold;
    font-size: 12px;
    background-color: #FEB;
    text-align: center;
    padding: 5px;
}

#site_description {
    font-size: 90%;
}
#logo_area h1 {
    width: 378px;
    height: 33px;
}
#logo_area h1 span {
    display: none; 
}

div#header_navi {
    float: right;
    width: 409px;
    height: 38px;
}
div#header_navi ul li {
    display: block;
    float: left;
}
div#header_navi ul li.mypage,
div#header_navi ul li.entry {
    margin-top: 6px;
}

#footer_wrap {
    margin: 0 auto;
    width: 980px;
    height: 80px;
    background: #fff;
}
#footer {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    border-top: solid 1px #ccc;
    width: 950px;
}
#pagetop {
    width: 210px;
    float: right;
    text-align: right;
}
#copyright {
    width: 740px;
    float: left;
    text-align: left;
    font-size: 97%;
}


.btn_area {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.btn_area li {
    padding-right: 10px;
    display: inline;
}


div#complete_area {
    margin-bottom: 20px;
}
div#complete_area .message,
div#undercolumn_entry .message {
    margin-bottom: 20px;
    line-height: 150%;
    font-weight: bold;
    font-size: 120%;
}
div#complete_area .shop_information {
    margin-top: 40px;
    padding: 20px 0 0 0;
    border-top: solid 1px #ccc;
}
div#complete_area .shop_information .name {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 140%;
}

#menu_l{  
  margin: 0;  
  padding: 0;  
  margin-bottom: 50px;
}  
  
#menu_l ul{  
  list-style-type: none;  
  margin: 0;  
  padding: 0;  
}  
  
#menu_l li{  
  float: left;  
  width: 84.34px;  
  height: 3em;
  margin: 0;  
  padding: 0;  
   border:1px solid #E1E1E1;

}  
  
#menu_l a{  
  text-align: center;  
  display:block;  
  padding: 0.5em 0;  
  background-color: #6495ED;  
  width:100%;  
  height: 100%;
  color:#000000;  
}  
  
#menu_l a:hover{  
  background-color: #6495ED;  
  color: #ffffff;  
}  
